body {
  background-color: #FFDAB4;
}

#calculator {
  background-color: black;
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

#d-frame {
  background-color: grey;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  margin-top: 20px;
  text-align: center;
}

#display {
  padding-top: 10px;
}

#frame {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
}

.btn {
  width: 80px;
  height: 80px;
  margin: 10px;
}
